{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="four wide column">
            {% include 'admin/partials/nav.html' %}
        </div>
        <div class="twelve wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('marketplace.seller_panel') }}">
                <i class="caret left icon"></i>
                Back to MarketPlace Seller dashboard
            </a>
            <h2 class="ui header">
                Manage Shipping Methods ({{ shipping_methods_count }})
                <div class="sub header">
                    View and manage shipping_methods.
                </div>
                <div class="right aligned sub header" >
                    <a class="ui green  button" href="{{ url_for('marketplace.marketplace_shipping_method_create') }}">Add New</a>
                </div>
            </h2>

            <div class="ui menu">
                <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-shipping_methods" type="text" placeholder="Search shipping_methods…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="sorted ascending">Name</th>
                        <th>Prices</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in shipping_methods.items | sort(attribute='name') %}
                        <tr>

                            <td>{{ loop.index }}</td>
                            <td>{{ u.name }}</td>
                            <td>{% for sprice in u.prices %}
                                {{ sprice.price }} {{ sprice.price_currency.symbol }} ,
                                {% endfor %}
                                </td>
                            <td>
                                <a class="ui blue button" href="{{ url_for('marketplace.marketplace_shipping_method_edit', shipping_method_id=u.id) }}">Edit</a>
                                <a href="#" onclick="return confirmDeleteCategory('{{ u.id | tojson }}');">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>

        </div>

    </div>
    <div class="ui centered grid ">
        {% if shipping_methods.pages > 0 %}
            <div class="ui pagination menu">
                {% for page in shipping_methods.iter_pages() %}
                    {% if page %}
                        {% if page != shipping_methods.page %}
                            <a class="item"
                               href="{{ url_for(request.endpoint,  page=page) }}">
                                {{ page }}
                            </a>
                        {% else %}
                            <a class="item active">
                                {{ page }}
                            </a>
                        {% endif %}
                    {% else %}
                        <div class="disabled item">
                            ...
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
        <form method="POST" action="{{ url_for('marketplace.marketplace_shipping_method_delete', shipping_method_id=0) }}" id="delete-delivery_term-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-shipping_methods').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

        });
    </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
        function confirmDeleteCategory(shipping_method_id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this delivery_term",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let form = $("#delete-delivery_term-form");
                        form.attr('action', "{{ url_for('marketplace.marketplace_shipping_method_delete', shipping_method_id=0) }}".replace('0',shipping_method_id));
                        form.submit();
                    } else {
                        return false;
                    }
                });
            return false;
        }
    </script>
{% endblock %}
