{% macro render_inline_editor(editable_html_obj, current_user) %}
    <textarea id="editor" contenteditable="true" style="min-height: 300px">
        {{ editable_html_obj.value|safe }}
    </textarea>

    <script>
        function initCK(){
        CKEDITOR.replace('editor');
            $(document).ready(function () {
                {% if current_user.is_admin() %}
                    $(".end-edit").hide();
                {% endif %}
                $(".start-edit").click(function () {
                    CKEDITOR.disableAutoInline = true;
                    var editor = CKEDITOR.inline(editorIDName, {
                        startupFocus: true,
                        autoGrow_onStartup: true
                    });
                    $(".start-edit").hide();
                    $(".end-edit").show();
                    $("#" + editorIDName).attr("contenteditable", "true");
                    return false;
                });

                $(".end-edit").click(function () {
                    if (CKEDITOR.instances[editorIDName]) {
                        var json_data = {
                            csrf_token: "{{ csrf_token() }}",
                            editor_name: "{{ editable_html_obj.editor_name }}",
                            edit_data: CKEDITOR.instances[editorIDName].getData(),
                        };
                        $.post("{{ url_for('admin.texts') }}", json_data);
                        CKEDITOR.instances[editorIDName].destroy();
                    }
                    $(".end-edit").hide();
                    $(".start-edit").show();
                    $("#" + editorIDName).attr("contenteditable", "false");
                    return false;
                });
            });
        }
    </script>

{% endmacro %}
