                {{ dashboard_option('Settings', 'admin.marketplace_settings',
                                    description='Edit Marketplace Settings', icon='settings icon') }}
                {{ dashboard_option('Sellers', 'admin.marketplace_sellers',
                                    description='View and manage Sellers', icon='users icon') }}
                {{ dashboard_option('Categories', 'admin.marketplace_categories',
                                    description='Manage MarketPlace Categories', icon='database icon') }}
                {{ dashboard_option('Currencies', 'admin.marketplace_currencies',
                                    description='Manage MarketPlace Currencies', icon='dollar sign icon') }}
                {{ dashboard_option('Shipping Methods', 'admin.marketplace_shipping_methods',
                                    description='Manage MarketPlace Shipping Methods', icon='truck icon') }}
                {{ dashboard_option('Products', 'admin.marketplace_products',
                                    description='Manage MarketPlace Products', icon='shopping basket icon') }}
                {{ dashboard_option('Orders', 'admin.marketplace_orders',
                                    description='View and manage users\' Orders', icon='cart arrow down icon') }}
                {{ dashboard_option('Coupons', 'admin.marketplace_coupons',
                                    description='View and manage marketplace\'s Coupons', icon='gift icon') }}
