{% import 'macros/nav_macros.html' as nav %}
{% import 'macros/footer_macros.html' as footer %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block page_title %}{{ config.APP_NAME }}{% endblock %}</title>
    {% include 'partials/_head.html' %}
    {% if config['DEBUG']  != True %}
        <meta name="ws_url" content="https://www.{{ config.APP_NAME }}.ng">
    {% else %}
        <meta name="ws_url" content="http://localhost:3000">
    {% endif %}
    {% if current_user.is_authenticated %}
        <meta name="user_id" content="{{ request.cookies.get('jwt_token') }}">
    {% endif %}
    {% block custom_head_tags %}{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ url_for('static', filename='images/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ url_for('static', filename='images/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ url_for('static', filename='images/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed"
          href="{{ url_for('static', filename='images/ico/apple-touch-icon-57-precomposed.png') }}">
    <meta name="google-site-verification" content="eO7v2aO6uakHOD3gSnChM4_GSUpar3MVqPZzr9cWENE" />
    <style>
        .ui.menu.fixed {
            z-index: 1001;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toastr.min.css') }}">
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='frontend/js/jquery-2.0.0.min.js') }}" type="text/javascript"></script>

      <!-- Bootstrap4 files-->
      <script src="{{ url_for('static', filename='frontend/js/bootstrap.bundle.min.js') }}" type="text/javascript"></script>
      <link href="{{ url_for('static', filename='frontend/css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
  
      <!-- Font awesome 5 -->
      <link href="{{ url_for('static', filename='frontend/fonts/fontawesome/css/all.min.css') }}" type="text/css" rel="stylesheet">
  
      <!-- custom style -->
      <link href="{{ url_for('static', filename='frontend/css/ui.css') }}" rel="stylesheet" type="text/css"/>
      <link href="{{ url_for('static', filename='frontend/css/responsive.css') }}" rel="stylesheet" media="only screen and (max-width: 1200px)" />

</head>
<body>
<div class="ui {% if request.blueprint == 'marketplace' %}marketplace{% endif %} container-fluid {% if current_user.is_authenticated %} min-container {% endif %}" >
    {% block sidebars %}{% endblock %}
    {% block nav %}
        {{ nav.render_nav(current_user) }}
    {% endblock %}
    {% include 'partials/_flashes.html' %}
    {% if current_user.is_admin() %}
    {% endif %}
    {% block content %}{% endblock %}
    {% if csrf_token()|safe %}
        <div style="visibility: hidden; display: none">
            <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
        </div>
    {% endif %}
</div>
<br>
<br>
{{ footer.footer_macro(current_user, website_settings) }}
<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{% assets 'vendor_js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{% assets 'app_js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
<script type="text/javascript" src="/static/scripts/custom.js"></script>
<script>
    function getStats(){
        $(document).ready(function () {
            $.get("{{ url_for('main.notifications_count') }}", function ( data ) {
                let messages = parseInt(data.messages);
                let notifications = parseInt(data.notifications);
                let label = $('.item.Messages').find('.floating.ui.blue.label');
                let nlabel = $('.item.Notifications').find('.floating.ui.blue.label');
                if (messages > 0){
                    label.html(messages);
                    if (! label.hasClass('active')){
                        label.addClass('active')
                    }
                }
                else
                {
                    label.html('');
                    label.removeClass('active');
                }
                if (notifications > 0){
                    nlabel.html(notifications);
                    if (! nlabel.hasClass('active')){
                        nlabel.addClass('active')
                    }
                }
                else{
                    nlabel.html('');
                    nlabel.removeClass('active');
                }
            })
        });
    }
    getStats();
</script>

{% include 'partials/_analytics.html' %}
{{ moment.include_moment() }}
<script src="{{ url_for('static', filename='messaging/checkbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='messaging/vue.js') }}"></script>
<script src="{{ url_for('static', filename='messaging/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename='messaging/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
{% include 'partials/_realtime.html' %}
{% block scripts %}{% endblock %}
{% if request.blueprint == 'marketplace' %}
    {% include 'marketplace/partials/scripts.html' %}
{% endif %}
</body>
</html>
