{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <div class="ui header" style="width: 100%; height: 50px">
                <a class="ui teal right floated button" href="{{ url_for('admin.add_feature') }}">Add New </a>
			</div>
            <h2 class="ui header">
                Added features
                <div class="sub header">
                    View and manage current feature content to the ecommerce landing page. 
                </div>
            </h2>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
					        <th>ID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Icon</th>
						     <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for u in data  %}
                        <tr>

                            <td>{{ u.id }}</td>
                            <td>{{ u.title }}</td>
                            <td>{{ u.description }}</td>
                            <td>{{ u.icon }}</td>
							<td><a class="ui blue left floated button" href="{{ url_for('admin.edit_feature', id=u.id) }}">Edit</a></td>
                            <td> <a class="ui red left floated button" style="margin-top: 1px"
                                   href="{{ url_for('admin.delete_feature', id=u.id) }}" onclick="return confirmDeleteFeature('{{ u.id }}');" data-content="{{ u.id }}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function confirmDeleteFeature(id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this feature",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let form = $("#delete-feature-form");
                        form.attr('action', "{{ url_for('admin.delete_feature', id=0) }}".replace('0',id));
                        form.submit();
                    } else {
                        return false;
                    }
                });
            return false;
        }
    </script>
{% endblock %}