<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=604800" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% for setting in settings %}
<meta name="description"
          content="{{ settings.description }}">
<meta name="author" content="{{ setting.site_name }}">
<meta name="og:title" content="{{ setting.title }}"/>
<meta name="og:type" content="website"/>
<meta name="og:url" content="https://www.{{ setting.site_name }}"/>
<meta name="og:image" content="{{ url_for('static', filename='images/home/slider/hill.png') }}"/>
<meta name="og:site_name" content="{{ settings.site_name }}"/>
<meta name="og:description"
          content="{{ setting.description }}"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@{{ setting.site_name }}"/>
<meta name="twitter:creator" content="@anioko1"/>
<meta property="og:url" content="https://www.{{ setting.site_name }}"/>
<meta property="og:title" content="{{ setting.title }}"/>
<meta property="og:description"
          content="{{ setting.description }}"/>
<meta property="og:image" content="{{ url_for('static', filename='images/home/slider/hill.png') }}"/>
{% endfor %}


<link href="{{ url_for('static', filename='frontend/images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">

<!-- jQuery -->
<script src="{{ url_for('static', filename='frontend/js/jquery-2.0.0.min.js') }}" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="{{ url_for('static', filename='frontend/js/bootstrap.bundle.min.js') }}" type="text/javascript"></script>
<link href="{{ url_for('static', filename='frontend/css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="{{ url_for('static', filename='frontend/fonts/fontawesome/css/all.min.css') }}" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="{{ url_for('static', filename='frontend/css/ui.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='frontend/css/responsive.css') }}" rel="stylesheet" media="only screen and (max-width: 1200px)" />

<!-- custom javascript -->
<script src="{{ url_for('static', filename='frontend/js/script.js') }}" type="text/javascript"></script>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code

}); 
// jquery end
</script>
{% for setting in settings %}
{{setting.other_tracking_analytics_one|safe}}
{{setting.other_tracking_analytics_two|safe}}
{{setting.other_tracking_analytics_three|safe}}
{{setting.other_tracking_analytics_four|safe}}
{% endfor %}
</head>
<body>


<header class="section-header">
<section class="header-main border-bottom">
	<div class="container">
<div class="row align-items-center">
	<div class="col-lg-2 col-6">
		<a href="http://{{ settings.site_name }}" class="brand-wrap">
			<img class="logo" src="{{ url_for('static', filename='frontend/images/logo.png') }}">
		</a> <!-- brand-wrap.// -->
	</div>
	<div class="col-lg-6 col-12 col-sm-12">
		<form class="search" method="GET" action="{{ url_for('main.search') }}">
			<div class="input-group w-100">
			    <input type="text" class="form-control" placeholder="Search">
			    <div class="input-group-append">
			      <button class="btn btn-primary" type="submit">
			        <i class="fa fa-search"></i>
			      </button>
			    </div>
		    </div>
		</form> <!-- search-wrap .end// -->
	</div> <!-- col.// -->
	<div class="col-lg-4 col-sm-6 col-12">
		<div class="widgets-wrap float-md-right">
			<div class="widget-header  mr-3">
				<a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></a>
				<span class="badge badge-pill badge-danger notify">0</span>
			</div>
			<div class="widget-header icontext">
				<a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
				<div class="text">
					<span class="text-muted">Welcome!</span>
					{% if current_user.is_authenticated %}
					<div> 
						{{current_user.full_name}}
					</div>
					{% else %}
					<div> 
						<a href="{{url_for('account.login')}}">Sign in</a> |  
						<a href="{{url_for('account.register')}}"> Register</a>
					</div>
					{% endif %}
				</div>
			</div>
		</div> <!-- widgets-wrap.// -->
	</div> <!-- col.// -->
</div> <!-- row.// -->
	</div> <!-- container.// -->
</section> <!-- header-main .// -->
</header> <!-- section-header.// -->

    {% block content %}{% endblock %}
    {% if csrf_token()|safe %}
        <div style="visibility: hidden; display: none">
            <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
        </div>
    {% endif %}


    {% include 'partials/_footer.html' %}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-md-right"> 
		{% for setting in settings %}
			&copy {{setting.site_name}} Copyright 2019 All rights reserved
			{% endfor %}
		</p>
		<p>
			<a href="#">Terms and conditions</a>
		</p>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{% assets 'vendor_js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{% assets 'app_js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
<script type="text/javascript" src="/static/scripts/custom.js"></script>
{% include 'partials/_analytics.html' %}
{{ moment.include_moment() }}
<script src="{{ url_for('static', filename='messaging/checkbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='messaging/vue.js') }}"></script>
<script src="{{ url_for('static', filename='messaging/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename='messaging/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
{% include 'partials/_realtime.html' %}
{% block scripts %}{% endblock %}
{% if request.blueprint == 'marketplace' %}
    {% include 'marketplace/partials/scripts.html' %}
{% endif %}
</body>
</html>