{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
            <div class="four wide column">
            {% include 'admin/partials/nav.html' %}
        </div>
        <div class="twelve wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                All Contact Messages
                <div class="sub header">
                    View and manage users' Contact Messages.
                </div>
            </h2>

            <div class="ui menu">
                <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-users" type="text" placeholder="Search contact messages…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Text</th>
                        <th class="sorted ascending">Created At</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact_message in contact_messages.items | sort(attribute='created_at') %}
                        <tr>
                            {% if contact_message.user %}
                                <td>{{ contact_message.user.full_name }}</td>
                                <td>{{ contact_message.user.full_name }}</td>
                                <td>{{ contact_message.user.email }}</td>
                                <td>{{ contact_message.text[:50] }}...</td>
                                <td>{{ contact_message.created_at }}</td>
                            {% else %}
                                <td>...</td>
                                <td>{{ contact_message.name }}</td>
                                <td>{{ contact_message.email }}</td>
                                <td>{{ contact_message.text[:50] }}...</td>
                                <td>{{ contact_message.created_at }}</td>
                            {% endif %}
                            <td>
                                <a class="ui yellow left floated button" style="margin-top: 1px" href="{{ url_for('admin.view_contact_message', message_id=contact_message.id) }}">View</a>
                                <a class="ui red left floated button" style="margin-top: 1px"
                                   href="#" onclick="return confirmDeleteJob('{{ contact_message.id | tojson }}');" data-content="{{ contact_message.id }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <br>
            <br>
            <br>
            <div class="ui centered grid ">
                <div class="ui pagination menu">
                    {% for page in contact_messages.iter_pages() %}
                        {% if page %}
                            {% if page != contact_messages.page %}
                                <a class="item" href="{{ url_for('admin.contact_messages', page=page) }}">
                                    {{ page }}
                                </a>
                            {% else %}
                                <a class="item active">
                                    {{ page }}
                                </a>
                            {% endif %}
                        {% else %}
                            <div class="disabled item">
                                ...
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


        </div>
        <form method="POST" action="{{ url_for('admin.delete_contact_message', message_id=0) }}" id="delete-contact-message-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
        function confirmDeleteJob(contact_message){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this contact messages",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let form = $("#delete-contact-message-form");
                        form.attr('action', "{{ url_for('admin.delete_contact_message', message_id=0) }}".replace('0',contact_message));
                        form.submit();
                    } else {
                        return false;
                    }
                });
            return false;
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-users').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-role').dropdown({
                onChange: function (value, text, $selectedItem) {
                    $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });
    </script>
{% endblock %}
