{{ dashboard_option('Statistics', 'marketplace.seller_stats',
                                    description='My Selleings Statistics', icon='chart area icon') }}
{{ dashboard_option('Shipping Methods', 'marketplace.marketplace_shipping_methods',
                                    description='Manage MarketPlace Shipping Methods', icon='truck icon') }}
    {{ dashboard_option('Products', 'marketplace.seller_products',
                                    description='View and manage Contact Messages', icon='shopping basket icon') }}
    {{ dashboard_option('Orders', 'marketplace.seller_orders',
                                    description='View and manage Contact Messages', icon='cart arrow down icon') }}
    {{ dashboard_option('Coupons', 'marketplace.seller_coupons',
                                    description='View and manage Contact Messages', icon='gift icon') }}
