/__pycache__
.webassets-cache/
webassets-external/
.appstatic/
/healthcareprofessionals/appstatic/
.migrations/
.DS_Store
*.pyc
*.pyo
env
venv
*.env
/.idea/
env*
dist
*.egg
*.egg-info
*.sqlite
.idea/
dump.rdb
.vscode/
/.directory
/Webdesign
/healthcareprofessionals/migrations/
/healthcareprofessionals/.idea
