{% extends 'layouts/base.html' %}
{% import 'macros/product_macros.html' as products_macros %}
{% block custom_head_tags %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lightbox/css/lightbox.min.css') }}">
    <style>
        .slick-prev:before, .slick-next:before {
            color: black;
        }
        .slick-prev {
            left: 0px;
            z-index: 100;
        }
        .slick-next {
            right: 0px;
            z-index: 100;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="ui stackable centered grid marketplace container">
        <div class="sixteen wide column">
            <h1 class="ui header">
                Market Place
            </h1>
            <div class="ui four steps">
                <div class="active step">
                    <i class="tasks icon"></i>
                    <div class="content">
                        <div class="title">Items</div>
                        <div class="description">Confirm Order Items</div>
                    </div>
                </div>
                <div class="disabled step">
                    <i class="truck icon"></i>
                    <div class="content">
                        <div class="title">Shipping</div>
                        <div class="description">Choose your shipping options</div>
                    </div>
                </div>
                <div class="disabled step">
                    <i class="payment icon"></i>
                    <div class="content">
                        <div class="title">Billing</div>
                        <div class="description">Enter billing information</div>
                    </div>
                </div>
                <div class="disabled step">
                    <i class="info icon"></i>
                    <div class="content">
                        <div class="title">Order Details</div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="ui grid">
                <div class="sixteen wide column">
                    <h2 class="ui header">
                        Cart Items
                    </h2>
                    <hr>
                    <p>No Items In Cart</p>
                    <hr>
                    <div class="ui centered grid">
                        <a class="ui blue button" href="{{ url_for('marketplace.index') }}"><i class="shopping basket icon"></i>Go Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="go-to-step2" method="POST" action="{{ url_for('marketplace.order', step=2) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lightbox/js/lightbox.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.slick').slick({
                infinite: false,
            });
        });

    </script>
{% endblock %}
