                {{ dashboard_option('Settings', 'admin.blog_index',
                                    description='Edit Blog Settings', icon='settings icon') }}
                {{ dashboard_option('Categories', 'admin.blog_categories',
                                    description='Manage Blog Categories', icon='database icon') }}
                {{ dashboard_option('Tags', 'admin.blog_tags',
                                    description='Manage Blog Tags', icon='hashtag sign icon') }}
                {{ dashboard_option('Posts', 'admin.blog_posts',
                                    description='Manage Blog Posts', icon='edit icon') }}

                {{ dashboard_option('Newsletter Subscriptions', 'admin.blog_subs',
                                    description='Manage Blog Newsletter Subscriptions', icon='edit icon') }}

